

<!-- responsive navbar starts -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><p class="font-weight-bold">TrustyX</p></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
        <a class="nav-link"  href="#">Create</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Connect to phantom<span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">My product</a>
          <a class="dropdown-item" href="#">Edit profile</a>
          <a class="dropdown-item" href="#">Disconnect wallet</a>
          <a class="dropdown-item" href="#">Logout</a>
          <a class="dropdown-item" href="#">Night Mode<span><i class="fas fa-lightbulb-on" style="margin:10px"></i></span></a>
        </div>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search token address" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    
  </div>
</nav>
<br> -->
<!-- responsive nav ends -->

<!-- <h3 class="card-title font-weight-bold pl-3">NFT Token</h3>
<div class="details">
<div class="card mb-3 my-3 " style="max-width: 1100px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://tse2.mm.bing.net/th?id=OIP.8l-SnOYvog6babjXOAnifAHaHa&pid=Api&P=0&w=153&h=153" alt="...">
    </div>
    <div class="col-md-8 ">
      <div class="card-body">
        <p  id="p1">NFT Name <span id="c1">:</span>
          <span id="d1">namitha</span></p>
          
          <p id="p1">Creator <span id="c2">:</span>
          
          <select name="" id="a1" >
          <option value="" id="a1">select creators</option>
          <option value="" id="a1" ></option></select> </p>
          
          <p id="p1">Token ID <span id="c3">:</span>
          <span id="s2">mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</span> <i class="fa fa-clone" aria-hidden="true"></i></p>
          
          <p id="p1">Mint ID<span id="c4">:</span>
          <span id="s3">hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</span> <i class="fa fa-clone" aria-hidden="true"></i></p>
          
          <p id="p1">Total <span id="c5">:</span>
          <span id="s4"></span></p>
        
        
        
      </div>
    </div>
  </div>
</div>
</div> -->


<!-- table -->
<!-- <div class="table-responsive"><table class="table mx-5 " style="width: 70%;">
  
  <thead class="thead-dark">
   
      <tr>
      
      
      <th scope="col">trait type</th>
      <th scope="col">value</th>
    
    </tr>
  
  </thead>
  
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
     
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
     
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      
      
    </tr>
  </tbody>
</table>
</div> -->



